
<link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo.default.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"></script>
<script src="~/Scripts/App/Brochure/index-unregister.js"></script>
<div style="width:800px;">
    <div id="brochures-grid"></div>
</div>

